html {
    height: 100%;
    background:url(https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?cs=srgb&dl=pexels-roberto-nickson-2559941.jpg&fm=jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: black;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
    width: 1em;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 30, 3, 0.68);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #b898864f;
    outline: 1px solid rgba(0, 30, 3, 0.68);
    border-radius: 5px;
}